<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="handlebars-v2.0.0.js"></script>
  <!-- load fontawesome -->
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="col-sm-6 col-sm-offset-3">

      <!-- LOGIN FORM -->
      <p>Register? <a href="/user/register">Register</a></p>
      <p>Already registered? <a href="/user/login">Login</a>.</p>

    </div>

  </div>
</body>

</html>
